/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

/* ====== Colors ====== */
/* ====== Transition ====== */
body {
  min-height: 100vh;
  background-color: #18191a;
  transition: all 0.3s ease; }

/* Color al copiar texto en web */
::selection {
  background-color: #5ed42ff6;
  color: #fff; }

body .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: #242526;
  transition: all 0.3s ease;
  z-index: 100; }
  body .sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
    transition: all 0.3s ease; }
  body .sidebar header {
    position: relative; }
    body .sidebar header .image-text {
      display: flex;
      align-items: center; }
      body .sidebar header .image-text .image {
        min-width: 60px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center; }
        body .sidebar header .image-text .image img {
          width: 40px;
          border-radius: 6px; }
      body .sidebar header .image-text .text .name {
        color: #ccc;
        transition: all 0.3s ease;
        margin-top: 2px;
        font-size: 19px;
        font-weight: 600; }
      body .sidebar header .image-text .text .profession {
        font-size: 14px;
        margin-top: -2px;
        display: block;
        color: #5ed42ff6; }
      body .sidebar header .image-text .logo-text {
        display: flex;
        flex-direction: column; }
    body .sidebar header .toggle {
      position: absolute;
      top: 50%;
      right: -25px;
      transform: translateY(-50%) rotate(180deg);
      height: 25px;
      width: 25px;
      background-color: #3a3b3c;
      color: #5ed42ff6;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 22px;
      cursor: pointer;
      transition: all 0.3s ease; }
  body .sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll; }
    body .sidebar .menu-bar .menu {
      margin-top: 60px; }
      body .sidebar .menu-bar .menu .search-box {
        border-radius: 6px;
        background-color: #3a3b3c;
        cursor: pointer;
        transition: all 0.3s ease; }
        body .sidebar .menu-bar .menu .search-box input {
          height: 100%;
          width: 100%;
          outline: none;
          border: none;
          background-color: #3a3b3c;
          color: #ccc;
          border-radius: 6px;
          font-size: 17px;
          font-weight: 500;
          transition: all 0.3s ease; }
      body .sidebar .menu-bar .menu li {
        height: 50px;
        list-style: none;
        display: flex;
        align-items: center;
        margin-top: 10px; }
      body .sidebar .menu-bar .menu .menu-links .text {
        color: #ccc;
        transition: all 0.3s ease; }
    body .sidebar .menu-bar .icon {
      min-width: 60px;
      border-radius: 6px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      color: #ccc;
      transition: all 0.3s ease; }
  body .sidebar .bottom-content li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px; }
    body .sidebar .bottom-content li span {
      color: #ccc;
      transition: all 0.3s ease; }
  body .sidebar .menu-bar::-webkit-scrollbar {
    display: none; }

body .sidebar.close {
  width: 88px; }

body .sidebar.close .text {
  opacity: 0; }

body .sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg); }

/* ====== ACOMODAR MA;ANA EN LA OFICINA ====== */
.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: all 0.3s ease; }

ol,
ul {
  padding-left: 0px; }

.sidebar li a:hover {
  background-color: #5ed42ff6; }

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: #242526; }

.home {
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: #18191a;
  transition: all 0.3s ease; }

.home .text {
  font-size: 30px;
  font-weight: 500;
  color: #ccc;
  padding: 12px 60px; }

.sidebar.close ~ .home {
  left: 80px;
  height: 100vh;
  width: calc(100% - 80px); }
