.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: $body-color;
    transition: $tran-05;

    .cont1__main {
        height: 100vh;
        /* background-image: url(/assets/img/programmer.jpg);
        background-position: center;
        background-size: cover; */

        .cont1__maininfo {
            color: $text-color;
            max-width: 750px;
            text-align: center;

            h5 {
                font-size: 20px;
            }

            h1 {
                font-size: 44px;
            }

            p {
                font-size: 16px;
            }

            a {
                background-color: $primary-color;
                color: $text-color;
                border: none;

                &:hover {
                    background-color: $secondary-color;
                    color: $sidebar-color;
                }

                i {
                    margin-right: 5px;
                    margin-top: 3px;
                }
            }
        }
    }

    .containercolor {
        background-color: $primary-color-light;

        .container__info {
            margin-top: 20px;
            h1 {
                text-align: left;
                color: $text-color;
                font-size: 32px;

                .colorspan {
                    color: $secondary-color;
                }
            }

            p {
                text-align: left;
                color: $paragraph;
            }
        }
    }

    .listcontainer {
        ul {
            width: 350px;

            li {
                background-color: $primary-color;
                color: $text-color;
            }

            a:link,
            a:visited,
            a:active {
                text-decoration: none;
                color: $secondary-color;

                &:hover {
                    color: $secondary-color2;
                }
            }
        }

        .listcontainer__btn {
            margin-top: 15px;

            button {
                background-color: $sidebar-color;
                color: $text-color;
                border: none;

                &:hover {
                    background-color: $secondary-color;
                    color: $sidebar-color;
                }

                i {
                    margin-right: 3px;
                }
            }
        }
    }
}













/* Siempre debe ir de ultimo */
.sidebar.close~.home {
    left: 80px;
    height: 100vh;
    width: calc(100% - 80px);
}