.home {
    height: 100vh;
    width: calc(100% - 250px);
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    background-color: $body-color;
    transition: $tran-05;


    /* ======= Contenedor de Inicio ======= */
    .cont-inicio {
        height: 100vh;
        background-color: $body-color;

        section {
            height: 100vh;

            .container {
                height: 100vh;

                .fila__inicio {
                    height: 100vh;

                    .info__inicio {
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: auto;
                        margin-left: auto;

                        h2 {
                            text-transform: uppercase;
                            font-weight: bold;
                            font-size: $text44;
                            color: $text-color;
                            font-family: 'Bungee', cursive;
                        }

                        p {
                            margin-bottom: 24px;
                            color: $paragraphcolor;
                            font-size: $parrafos16;
                        }

                        @include cont__btndoble;
                    }
                }
            }
        }
    }


    /* ======= Contenedor de Acerca de Mi ======= */
    .conoceme {
        background-color: $primary-color;
        width: 100%;

        .title__conoceme {
            height: 40px;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;

            .info__conoceme {
                margin-right: auto;
                margin-left: auto;
                text-align: center;

                h2 {
                    color: $text-color;
                    font-size: 38px;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-family: 'Bungee', cursive;
                }
            }
        }

        .container-conoceme {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;

            .fila__conoceme {
                padding-top: 30px;

                .card__conoceme {
                    height: 100%;
                    padding: 1.5rem;
                    word-wrap: break-word;
                    background-color: $sidebar-color;
                    border-radius: 7px;
                    box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5);
                    text-align: center;

                    h2 {
                        margin-bottom: 0.5rem;
                        font-size: 26px;
                        font-weight: bold;
                        color: $text-color;
                    }

                    .card-name__conoceme {
                        color: $secondary-color;
                    }

                    p {
                        color: $paragraphcolor;
                    }

                    @include cont__btnizq;
                }

                .col2-conoceme {
                    .card2__conoceme {
                        height: 100%;
                        word-wrap: break-word;
                        background-color: $sidebar-color;
                        border-radius: 7px;
                        box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5);
                        text-align: center;
                        border-style: none;

                        .card-body__conoceme {
                            height: 300px;
                            padding: 1.3rem;


                            @include badge-green;

                            ul {
                                list-style: none;
                                line-height: 25px;
                                padding: 0;
                                margin-bottom: 30px;
                                color: $paragraphcolor;
                                text-align: center;
                            }

                            .cont-img__conoceme {
                                text-align: center;
                                margin-bottom: 25px;

                                img {
                                    width: 150px;
                                    height: 180px;
                                    border-radius: 100%;
                                    margin-bottom: 5px;
                                }
                            }

                            .minibox__conoceme {

                                h6 {
                                    margin-bottom: 0px;
                                    color: $secondary-color;
                                    font-weight: bold;
                                    margin-top: 4px;
                                }

                                p {
                                    font-size: 14px;
                                    color: $paragraphcolor;
                                }
                            }
                        }
                    }
                }
            }
        }

        .stats-conoceme {
            padding-bottom: 70px;

            .cont-stats__conoceme {
                text-align: center;
                padding: 16px;
                word-wrap: break-word;
                background-color: $sidebar-color;
                border-radius: 7px;
                box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5);

                .boxs__conoceme {
                    .box-in__conoceme {
                        padding: 16px;

                        h4 {
                            color: $text-color;
                            font-weight: bold;
                            font-size: calc(1.225rem + 2.1vw);
                            line-height: 1.2;
                            margin-bottom: 0;
                        }

                        p {
                            margin-bottom: 0;
                            color: $secondary-color;
                        }
                    }
                }
            }
        }
    }


    /* ======= Contenedor de Servicios ======= */
    .servicios {
        background-color: $body-color;

        .cont__servicios {

            padding-top: 1.5rem;
            padding-bottom: 1.5rem;

            .titulo__servicios {
                margin-bottom: 35px;

                .info__servicios {
                    margin-right: auto;
                    margin-left: auto;
                    text-align: center;

                    h2 {
                        color: $text-color;
                        font-size: 38px;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-family: 'Bungee', cursive;
                    }
                }
            }

            .cajas-servicios {
                margin-bottom: 30px;

                .sect__servicios {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .caja__servicios {
                        height: 100%;
                        padding: 24px;
                        background-color: $sidebar-color;
                        border-radius: 7px;
                        box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5);

                        .titulos__servicios {
                            display: flex;

                            img {
                                flex-shrink: 0;
                                border-radius: 50%;
                                margin-right: 16px;
                                width: 50px;
                                height: 50px;
                                max-width: 100%;
                            }

                            .texto__servicios {
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                h6 {
                                    font-weight: bold;
                                    color: $secondary-color;
                                    margin-bottom: 0;
                                }
                            }
                        }

                        .caja__infoservicios {
                            display: flex;

                            .info2__servicios {
                                margin-top: 10px;
                                margin-bottom: 10px;

                                p {
                                    margin-bottom: 0;
                                    color: $paragraphcolor;
                                    font-size: $parrafos16;
                                }
                            }
                        }

                        @include badge-html;
                        @include badge-css;
                        @include badge-js;
                        @include badge-react;
                        @include badge-mongo;
                        @include badge-mysql;
                        @include badge-illustrator;
                        @include badge-photoshop;
                        @include badge-figma;
                    }
                }
            }
        }


    }


    /* ======= Contenedor de Resumen ======= */
    .containerresumen {
        background-color: $primary-color;

        .container2__resumen {

            padding-top: 1.5rem;
            padding-bottom: 1.5rem;

            .titulo__resumen {
                margin-bottom: 40px;

                .info__resumen {
                    margin-right: auto;
                    margin-left: auto;
                    text-align: center;

                    h2 {
                        color: $text-color;
                        font-size: 38px;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-family: 'Bungee', cursive;
                    }
                }
            }


            /* ====== Cajas de Resumen ====== */
            .cajas-resumen {
                display: flex;
                justify-content: center;
                align-items: center;

                .cont__resumen {
                    width: 460px;
                }

                .subtitle__resumen {

                    h2 {
                        text-align: center;
                        color: $text-color;
                        font-size: $text24;
                    }
                }

                .caja__resumen {
                    height: auto;
                    padding: 24px;
                    background-color: $sidebar-color;
                    border-radius: 7px;
                    box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5);
                    margin-top: 20px;
                    text-align: center;

                    @include badge-green;

                    .headings__resumen {
                        h3 {
                            color: $text-color;
                            font-size: $text20;
                        }

                        h5 {
                            color: $secondary-color;
                            font-size: $text14;
                            font-weight: 300;
                        }

                        p {
                            margin-bottom: 0;
                            color: $paragraphcolor;
                            font-size: $text14;
                        }
                    }
                }
            }
        }

        /* ====== Cajas de Habilidades ====== */
        .cont-habilidades {
            padding-top: 20px;
            padding-bottom: 20px;

            .titulo__habilidades {
                margin-bottom: 15px;

                .info__habilidades {
                    margin-right: auto;
                    margin-left: auto;
                    text-align: center;

                    h2 {
                        color: $text-color;
                        font-size: $text38;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-family: 'Bungee', cursive;
                    }

                    p {
                        color: $paragraphcolor;
                        font-size: $parrafos16;
                    }
                }
            }

            .caja__habilidades {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                margin-bottom: 25px;

                .col__habilidades {
                    width: 300px;
                    margin-top: 2px;

                    .cont__infohabilidades {
                        height: auto;
                        padding: 24px;
                        background-color: $sidebar-color;
                        border-radius: 7px;
                        box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5);
                        margin-top: 20px;

                        @include badge-html;
                        @include badge-css;
                        @include badge-js;
                        @include badge-react;
                        @include badge-mongo;
                        @include badge-mysql;
                        @include badge-illustrator;
                        @include badge-photoshop;
                        @include badge-figma;

                        .texto__habilidades {
                            text-align: center;

                            .progress__habilidades {
                                margin-top: 15px;

                                .html {
                                    width: 69%;
                                    background-color: $secondary-color;
                                    color: $sidebar-color;
                                }

                                .css {
                                    width: 52%;
                                    background-color: $secondary-color;
                                    color: $sidebar-color;
                                }

                                .jss {
                                    width: 26%;
                                    background-color: $secondary-color;
                                    color: $sidebar-color;
                                }

                                .react {
                                    width: 12%;
                                    background-color: $secondary-color;
                                    color: $sidebar-color;
                                }

                                .mongo {
                                    width: 18%;
                                    background-color: $secondary-color;
                                    color: $sidebar-color;
                                }

                                .figma {
                                    width: 35%;
                                    background-color: $secondary-color;
                                    color: $sidebar-color;
                                }
                            }
                        }
                    }
                }
            }

            @include listcontainer__btn;
        }
    }


    /* ======= Contenedor de Certificados ======= */
    .certificados {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        .titulo__certificados {
            margin-bottom: 40px;

            .info__certificados {
                margin-right: auto;
                margin-left: auto;
                text-align: center;

                h2 {
                    color: $text-color;
                    font-size: 38px;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-family: 'Bungee', cursive;
                }
            }
        }

        .imagenes__certificados {
            display: flex;
            justify-content: center;
            align-items: center;

            .item {
                width: 475px;
                padding: 10px;

                img {
                    border-radius: 7px;
                }
            }
        }
    }


    /* ======= Contenedor de Portafolio ======= */
    .containerportafolio {
        background-color: $primary-color;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        .titulo__portafolio {
            margin-bottom: 40px;

            .info__portafolio {
                margin-right: auto;
                margin-left: auto;
                text-align: center;

                h2 {
                    color: $text-color;
                    font-size: 38px;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-family: 'Bungee', cursive;
                }
            }
        }

        .portafolio__search {
            text-align: center;

            .barra-busqueda {
                width: 70%;
                height: 40px;
                line-height: 40px;
                background-color: #fff;
                padding: 0 20px;
                border-radius: 5px;
                border: none;
                text-align: center;
                font-size: $parrafos16;
            }
        }

        .categorias {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            a {
                color: $text-color;
                margin: 25px 20px;
                font-size: $parrafos16;
                text-decoration: none;

                &:hover {
                    color: $paragraphcolor;
                }
            }

            .active {
                color: $paragraphcolor;
            }
        }

        .grid {
            position: relative;
            width: 100%;
            opacity: 0;
            transition: opacity 0.5s linear 1s;

            .item {
                position: absolute;
                display: block;
                padding: 0;
                margin: 10px;
                width: calc(33.333333% - 20px);
            }

            .item-contenido {
                position: relative;

                img {
                    border-radius: 5px;
                    width: 100%;
                    cursor: pointer
                }
            }
        }

        .grid.imagenes-cargadas {
            opacity: 1;
        }

        .overlay {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, .9);
            width: 100%;
            height: 100vh;
            display: none;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            z-index: 666;

            .contenedor__img {
                position: relative;

                img {
                    max-width: 100%;
                }
            }

            .descripcion {
                display: block;
                background: $toggle-color;
                padding: 20px;
                text-align: center;
                margin-top: 5px;
                border-radius: 5px;
                max-width: 50%;
            }

            #btn-cerrar-popup {
                background: none;
                font-size: $text17;
                color: $secondary-color;
                border: none;
                cursor: pointer;
                position: absolute;
                right: -20px;
                top: -20px;
            }
        }

        .overlay.activo {
            display: flex;
        }
    }

    /* ======= Contenedor de Testimonios ======= */
    .containertestimonio {
        background-color: $body-color;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        .titulo__testimonio {


            .info__testimonio {
                margin-right: auto;
                margin-left: auto;
                text-align: center;

                h2 {
                    color: $text-color;
                    font-size: 38px;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-family: 'Bungee', cursive;
                }
            }
        }

        .slide-container {
            max-width: 1120px;
            width: 100%;
            padding: 40px 0;
        }

        .slide-content {
            overflow: hidden;
            border-radius: 25px;
        }

        .card {
            border-radius: 25px;
            background-color: #FFF;
        }

        .image-content,
        .card-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 14px;
        }

        .image-content {
            position: relative;
            row-gap: 5px;
            padding: 25px 0;
        }

        .overlay {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: $primary-color;
            border-radius: 25px 25px 0 25px;
        }

        .overlay::before,
        .overlay::after {
            position: absolute;
            right: 0;
            bottom: -40px;
            height: 40px;
            width: 40px;
            background-color: $primary-color;
        }

        .overlay::after {
            border-radius: 0 25px 0 0;
            background-color: #FFF;
        }

        .card-image {
            position: relative;
            height: 150px;
            width: 150px;
            border-radius: 50%;
            background: #FFF;
            padding: 3px;
        }

        .card-image .card-img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
            border: 4px solid $secondary-color;
        }

        .name {
            font-size: $text18;
            font-weight: 500;
            color: $sidebar-color;
        }

        .description {
            font-size: $text14;
            color: $paragraphcolor;
            text-align: center;
        }

        @include listcontainer__btn;

        .swiper-navBtn {
            color: $secondary-color;
            transition: color 0.3s ease;
        }

        .swiper-navBtn:hover {
            color: $secondary-color2;
        }

        .swiper-navBtn::before,
        .swiper-navBtn::after {
            font-size: 35px;
        }

        .swiper-button-next {
            right: 0;
        }

        .swiper-button-prev {
            left: 0;
        }

        .swiper-pagination-bullet {
            background-color: $secondary-color2;
            opacity: 1;
        }

        .swiper-pagination-bullet-active {
            background-color: $secondary-color;
        }
    }


    /* ====== Contenedor de Contacto ====== */
    .contacto {
        background-color: $primary-color;

        .cont__contacto {

            padding-top: 1.5rem;
            padding-bottom: 1.5rem;

            .titulo__contacto {
                margin-bottom: 20px;

                .info__contacto {
                    margin-right: auto;
                    margin-left: auto;
                    text-align: center;

                    h2 {
                        color: $text-color;
                        font-size: 38px;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-family: 'Bungee', cursive;
                    }
                }
            }

            .container__contacto {
                display: flex;
                justify-content: center;

                .cont__contacto1 {
                    padding-top: 1.5rem;
                    padding-bottom: 1.5rem;

                    .col__contacto {
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;


                        .info__contacto1 {
                            background-color: $sidebar-color;
                            border-radius: 7px;
                            box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.5);
                            padding: 10px;
                            width: 250px;

                            h4 {
                                color: $text-color;
                                font-size: $text20;


                                i {
                                    color: $secondary-color;
                                }
                            }

                            p {
                                color: $paragraphcolor;
                                margin-bottom: 0;
                            }
                        }
                    }
                }

                .columna2__contacto {
                    .itemform__contacto {
                        margin-bottom: 16px;

                        .box__item {
                            background-color: transparent;
                            border-color: $secondary-color;
                            color: $paragraphcolor;
                            font-size: $parrafos16;
                        }

                        .text__form {
                            font-size: 0.75rem;
                        }
                    }

                    @include listcontainer__btn;
                }
            }
        }
    }


    /* ====== Contenedor del Footer ====== */
    .footer {
        text-align: center;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        background-color: $body-color;

        .col1__footer {
            p {
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                color: $text-color;
                font-size: $parrafos16;
            }
        }

        .col2__footer {

            ul {
                padding-left: 0;
                list-style: none;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;

                .item__footer {
                    margin-right: 24px;
                    display: inline-block;

                    a {
                        i {
                            font-size: 20px;
                            color: $secondary-color;

                            &:hover {
                                color: $secondary-color2;
                            }
                        }
                    }
                }
            }
        }

        .col3__footer {
            ul {
                padding-left: 0;
                list-style: none;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;

                li {
                    display: inline-block;
                    margin-right: 5px;

                    a {
                        color: $text-color;

                        &:hover {
                            color: $paragraphcolor;
                        }
                    }
                }
            }
        }
    }
}

/* Siempre debe ir de ultimo */
.sidebar.close~.home {
    left: 80px;
    height: 100vh;
    width: calc(100% - 80px);
}