/* ======= Por debajo de 1280px ======= */
@media screen and (max-width: 1280px) {
    .home .cont-conoceme .sect2-conoceme .sect2__info {
        height: 335px;
    }

    .home .cont-conoceme .cont-sect1 .sect1-conoceme .sect1__info {
        height: 335px;
    }

    .home .cont-conoceme .sect2-conoceme .sect2__info h4 {
        display: none;
    }

    .home .cont-conoceme .sect2-conoceme .sect2__info .cont__infowork img {
        width: 50px;
    }

    .form-text {
        font-size: 0.75rem;
    }
}


/* ======= Por debajo de 1114px ======= */
@media screen and (max-width: 1114px) {
    .home .cont-conoceme .cont-sect1 .sect1-conoceme .sect1__info {
        height: 380px;
    }

    .home .cont-conoceme .sect2-conoceme .sect2__info {
        height: 380px;
    }

    .home .cont-conoceme .sect2-conoceme .sect2__info ul {
        margin: 20px 0;
        text-align: left;
    }

    .home .cont-conoceme .sect2-conoceme .sect2__info .cont__infowork {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 28px;
        text-align: left;
    }
}


/* ======= Por debajo de 884px ======= */
@media screen and (max-width: 884px) {

    .home .cont-inicio section .container .fila__inicio .info__inicio h2 {
        font-size: 2.4rem;
    }

    .home .cont-conoceme .cont-sect1 .sect1-conoceme .sect1__info {
        height: 460px;
    }

    .home .cont-conoceme .cont-sect1 .sect1-conoceme .sect1__info h2 {
        font-size: 1.62rem;
    }

    .cont_btnizq {
        text-align: center;
        margin-top: 30px;
    }

    .home .cont-conoceme .sect2-conoceme .sect2__info {
        height: 460px;
    }

    .home .cont-conoceme .sect2-conoceme .sect2__info ul {
        margin: 30px 0;
    }

    .home .cont-conoceme .sect2-conoceme .sect2__info .cont__infowork {
        display: block;
        text-align: center;
        margin-top: 50px;
    }

    .home .cont-conoceme .sect2-conoceme .sect2__info .cont__infowork img {
        margin-right: 0;
    }

    .home .containertestimonio .swiper-button-next {
        display: none;
    }

    .home .containertestimonio .swiper-button-prev {
        display: none;
    }

    .form__contacto {
        margin-top: 50px;
        padding: 20px;
    }
}


/* ======= Por debajo de 768px ======= */
@media screen and (max-width: 768px) {
    .home .cont-inicio section .container .fila__inicio .info__inicio h2 {
        font-size: 2.29rem;
    }


    .home .cont-conoceme .cont-sect1 .sect1-conoceme .sect1__info h2 {
        font-size: 1.4rem;
    }

    .cont_btnizq {
        margin-top: 20px;
    }

    .home .cont-conoceme .sect2-conoceme .sect2__info {
        width: auto;
    }

}