/* ====== Por encima de 1400px ====== */
@media screen and (min-width: 1400px) {}


/* ====== Por debajo de 1400px ====== */
@media screen and (max-width: 1400px) {}


/* ====== Por encima de 1200px ====== */
@media screen and (min-width: 1200px) {}


/* ====== Por debajo de 1200px ====== */
@media screen and (max-width: 1200px) {
    .home .conoceme .container-conoceme .fila__conoceme .col2-conoceme .card2__conoceme .card-body__conoceme .cont-img__conoceme {
        margin-bottom: 48px;
        margin-top: 10px;
    }

    .home .conoceme .container-conoceme .fila__conoceme .col2-conoceme .card2__conoceme .card-body__conoceme .cont-img__conoceme img {
        width: 210px;
        height: 250px;
    }
}

/* ====== Por debajo de 1005px ====== */
@media screen and (max-width: 1005px) {
    .home .conoceme .container-conoceme .fila__conoceme .col2-conoceme .card2__conoceme .card-body__conoceme .cont-img__conoceme {
        margin-bottom: 58px;
        margin-top: 20px;
    }
}



/* ====== Por encima de 992px ====== */
@media screen and (min-width: 992px) {}


/* ====== Por debajo de 992px ====== */
@media screen and (max-width: 992px) {

    .home .conoceme .container-conoceme .fila__conoceme .col2-conoceme .card2__conoceme .card-body__conoceme .cont-img__conoceme {
        margin-bottom: 80px;
        margin-top: 45px;
    }

    .home .conoceme .container-conoceme .fila__conoceme .col2-conoceme .card2__conoceme .card-body__conoceme .cont-img__conoceme img {
        width: 210px;
        height: 280px;
    }
}

/* ====== Por debajo de 789px ====== */
@media screen and (max-width: 789px) {
    .home .conoceme .container-conoceme .fila__conoceme .col2-conoceme .card2__conoceme .card-body__conoceme .cont-img__conoceme {
        margin-bottom: 100px;
        margin-top: 65px;
    }

    .home .conoceme .container-conoceme .fila__conoceme .col2-conoceme .card2__conoceme .card-body__conoceme .cont-img__conoceme img {
        width: 210px;
        height: 280px;
    }
}

/* ====== Por encima de 786px ====== */
@media screen and (min-width: 786px) {}


/* ====== Por encima de 768px ====== */
@media screen and (min-width: 768px) {
    .col__conoceme {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col2-conoceme {
        flex: 0 0 auto;
        width: 41.66666667%;
        height: auto;
    }
}

/* ====== Por debajo de 768px ====== */
@media screen and (max-width: 768px) {
    .home .conoceme .container-conoceme .fila__conoceme .col2-conoceme .card2__conoceme .card-body__conoceme .cont-img__conoceme {
        margin-bottom: 19px;
        margin-top: 0;
    }

    .home .conoceme .container-conoceme .fila__conoceme .col2-conoceme .card2__conoceme .card-body__conoceme .cont-img__conoceme img {
        width: 130px;
        height: 165px;
    }
}




/* ====== Por debajo de 576px ====== */
@media screen and (max-width: 576px) {

    body .sidebar.close .text {
        display: none;
    }

    body .sidebar.close .toggle {
        display: none;
    }

    body .sidebar .menu-bar {
        justify-content: start;
    }

    body .sidebar .bottom-content {
        margin-bottom: 0;
        margin-top: 0;
    }

    body .sidebar .menu-bar .menu li {
        height: 44px;
    }



    .home .cont-inicio section .container .fila__inicio .info__inicio h2 {
        font-size: $text28;
        margin-left: 10px;
    }

    .home .cont-inicio section .container .fila__inicio .info__inicio p {
        font-size: $text15mobil;
        margin-left: 10px;
        margin-bottom: 15px;
    }

    .cont__btndoble {
        margin-left: 10px;
    }

    .home .cont-inicio section .container .fila__inicio .info__inicio .btn1 {
        margin-right: 10px;
    }

    #text-hidden {
        display: none;
    }

    .home .conoceme .title__conoceme .info__conoceme h2 {
        font-size: $text28mobil;
        margin-left: 10px;
    }

    .home .conoceme .container-conoceme .fila__conoceme .card__conoceme {
        margin-left: 10px;
    }

    .home .conoceme .container-conoceme .fila__conoceme .card__conoceme h2 {
        font-size: $text18mobil;
    }

    .home .conoceme .container-conoceme .fila__conoceme .col2-conoceme .card2__conoceme {
        margin-left: 10px;
    }


    .home .conoceme .container-conoceme .fila__conoceme .card__conoceme p {
        color: #9b9d9e;
        font-size: $text15mobil;
    }

    .home .conoceme .stats-conoceme {
        padding-bottom: 34px;
    }

    .home .conoceme .stats-conoceme .cont-stats__conoceme {
        margin-left: 10px;
    }

    .home .conoceme .stats-conoceme .cont-stats__conoceme .boxs__conoceme .box-in__conoceme p {
        font-size: $text11mobil;
    }

    .home .servicios .cont__servicios .titulo__servicios .info__servicios h2 {
        font-size: $text28mobil;
        margin-left: 10px;
    }

    .home .servicios .cont__servicios .cajas-servicios .sect__servicios .caja__servicios {
        margin-left: 10px;
    }

    .home .servicios .cont__servicios .cajas-servicios .sect__servicios .caja__servicios .caja__infoservicios .info2__servicios p {
        font-size: $text15mobil;
    }

    .home .containerresumen .cajas-resumen .caja__resumen {
        margin-left: 10px;
    }

    .home .containerresumen .cajas-resumen .subtitle__resumen h2 {
        margin-left: 10px;
    }

    .home .containerresumen .titulo__resumen .info__resumen h2 {
        font-size: $text28mobil;
        margin-left: 10px;
    }

    .home .containerresumen .cajas-resumen .caja__resumen .headings__resumen h3 {
        font-size: 1.2rem;
    }

    .home .containerresumen .cajas-resumen .caja__resumen .headings__resumen h5 {
        margin-bottom: 0;
    }

    .home .containerresumen .cont-habilidades .titulo__habilidades .info__habilidades h2 {
        font-size: $text28mobil;
        margin-left: 4px;
    }

    .home .containerresumen .cont-habilidades .caja__habilidades .col__habilidades .cont__infohabilidades {
        margin-left: 10px;
    }

    .home .certificados .titulo__certificados .info__certificados h2 {
        font-size: $text28mobil;
        margin-left: 10px;
    }

    .home .certificados .imagenes__certificados {
        text-align: center;
    }

    .home .certificados .imagenes__certificados .item img {
        width: 240px;
        margin-left: 10px;
    }

    .home .containerportafolio .titulo__portafolio .info__portafolio h2 {
        font-size: $text28mobil;
        margin-left: 10px;
    }

    .home .containerportafolio .portafolio__search .barra-busqueda {
        width: 230px;
        height: 30px;
        background-color: transparent;
        color: $text-color;
        border: 1px solid $secondary-color;
        outline: none;

    }

    .home .containerportafolio .categorias {
        justify-content: space-evenly;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .home .containerportafolio .categorias a {
        margin: 0;
        font-size: 0.9;
    }

    .home .containertestimonio .slide-container {
        margin-left: 5px;
    }

    .home .containertestimonio .titulo__testimonio .info__testimonio h2 {
        font-size: $text28mobil;
        margin-left: 2px;
    }

    .home .contacto .titulo__contacto .info__contacto h2 {
        font-size: $text28mobil;
        margin-left: 10px;
    }



    .colform__contacto {
        margin-left: 10px;
    }

    .home .contacto .container__contacto .columna1__contacto .contenido__contacto .info__contacto h6 {
        font-size: 16px;
    }

    .home .contacto .container__contacto .columna1__contacto .contenido__contacto .info__contacto p {
        font-size: $text14mobil;
    }

    .home .contacto .container__contacto .columna2__contacto .itemform__contacto .box__item {
        width: 230px;
        height: 30px;
        font-size: $text14mobil;
    }

    .home .contacto .container__contacto .columna2__contacto .itemform__contacto .text__form {
        font-size: 0.593rem;
    }



    .home .footer .col1__footer p {
        margin-left: 4.1px;
        font-size: 0.95rem;
    }

    .home .footer .col2__footer ul {
        margin-left: 22px;
    }

    .home .footer .col3__footer ul {
        margin-left: 10px;
    }

    .emoji {
        display: none;
    }



}