/* ====== Colors ====== */
$body-color: #18191a;
$sidebar-color: #242526;
$primary-color: #3a3b3c;
$secondary-color: #5ed42ff6;
$primary-color-light: #3a3b3c;
$toggle-color: #fff;
$text-color: #ccc;

/* ====== Transition ====== */
$tran-03: all 0.2s ease;
$tran-03: all 0.3s ease;
$tran-04: all 0.3s ease;
$tran-05: all 0.3s ease;